@import "_variables.less";
@import "_mixins.less";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: @font-family;
}

.querygantt-tab {
    background: var(--background-color);

    &__page {
        width: 100%;
    }

    b {
        font-weight: 600;
    }

    &__spinner {
        padding: rem(16px) 0;
    }

    &__body {
        padding-top: rem(16px);
    }

    &__footer {
        line-height: rem(24px);
        font-size: rem(14px);
        position: sticky;
        bottom: 0;
        z-index: 1;
        background-color: var(--background-color);
        gap: 0 rem(42px);

        .tablet({
            flex-direction: column;
            gap: rem(16px) 0;
        });
    }
}

@import "icons.less";
@import "bolt-filterbar.less";
@import "bolt-filterbar.less";
@import "bolt-pill.less";
@import "components/legend.less";
@import "components/zerodata.less";
@import "components/timeline.less";