@import "../_variables.less";

.my-header {
    body & {
        padding: rem(16px) 0 0 0;
    }

    &__title {
        padding-left: rem(10px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;

        &--border {
            border-left-width: rem(9px);
            border-left-style: solid;
        }
    }

    &__button {
        &--icon {
            width: rem(32px);
            height: rem(32px) !important;
        }

        &--for-item {
            color: var(--communication-foreground);
        }

        &--toggle {
            &-on {
                color: var(--communication-background);
            }
        }
    }

    &__filter {
        width: auto;
        flex: 1;
        margin-left: rem(8px);
    }

    &__fields-popup {
        position: absolute;
        background: var(--background-color);
        border-radius: rem(3px);
        z-index: 11;
        width: rem(320px);
        padding: rem(12px) 0;

        > label {
            height: rem(32px);
            line-height: rem(32px);
            padding: 0 rem(10px);
            font-size: rem(14px);
        }
    }

    &--workitem {
        > .bolt-header-content-area {
            background: var(--callout-background-color,rgb(255, 255, 255));
            border-radius: rem(4px);
            overflow: hidden;
        }
    }
}